@import "../styles/common/index.scss";

.cart {
  & h3 {
    @apply text-5xl;
  }
}

.cartContainer {
  @apply pt-7 flex justify-between;
}

.cartItems {
  @apply flex flex-col gap-3;
  width: 800px;
}

.cartItem {
  @apply border-y  p-2 flex gap-4 w-full relative;

  & img {
    @apply w-28 h-32;
  }
  & > p {
    @apply ml-auto text-xl font-bold self-center;
  }
}

.desc {
  @apply flex flex-col justify-between;
  & h4 {
    @apply font-bold text-xl;
  }
}

.quantity {
  font-family: "Courier Prime", monospace;
  @apply flex items-center  justify-center gap-3 border border-black  rounded-lg max-w-24;
  & span {
    @apply text-xl cursor-pointer select-none;
  }
  & p {
    @apply text-xl;
  }
}

.totalPrice {
  @apply w-96 border p-4;
  height: 357px;
}

.subtotal {
  @apply flex justify-between text-xl font-bold border-b pb-4;
}

.promoDeliveryInfo {
  @apply py-4 border-b;
}

.promo {
  @apply relative border  border-black rounded-lg overflow-hidden h-14 flex items-center mt-2;
  & input {
    @apply outline-none pl-4;
  }
  & button {
    @include button-styles;
    @apply rounded-none w-full h-full;
  }
}

.delivery {
  @apply flex justify-between mt-3;
}

.grandTotal {
  @apply flex justify-between text-xl font-bold  py-4;
}

.totalPrice button {
  @include button-styles;
  @apply w-full h-14;
}

.icon {
  @apply absolute top-1 right-1 text-2xl cursor-pointer;
}

.isEmpty {
  @apply text-5xl flex justify-center pt-10;
}
